<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #E63233 !important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img src="assets/images/logo_blanco.png" width="350" height="60" class="d-inline-block align-top" alt="">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <div class="container">
          <div class="row justify-content-end">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">   
                  <div class="input-group rounded-pill border-0">
                    <input class="form-control me-2 search border-0" style="background-color: #ca1617;" type="search"  aria-label="Buscar">
                    <div class="input-group-append border-0">
                      <span class="input-group-text border-0" style="background-color: #ca1617; border-left: none; color: white;">
                          <i class="fa fa-search"></i>
                      </span>
                    </div>
                  </div>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
          </div>
          <div class="row">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">NOSOTROS</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">|</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/cotizador">COTIZADOR</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">|</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">TIENDA</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">|</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">TUTORIALES</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">|</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">BLOG</a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">|</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">CONTACTO</a>
                </li>
          </ul>
  
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fab fa-linkedin-in"></i></a>
              </li>
            </ul>
          </div>
        </div>
        

      </div>
    </div>
  </nav>
  