<div class="" style="background-color:#303030;padding-top: 2rem;">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col" style="padding-left: 5rem;">
                    <img src="assets/images/logo_digi_seco.png" style="width: 30%;">
                    <p class="text-light">
                        
                        <i class="fa fa-envelope" style="color: #989798;"></i> ventasdigimat.com.ar 

                    <br>
                        <i class="fa fa-map-marker" style="color: #989798;"></i> Direccion XXXX, Cordoba - Argentina
                    <br>
                        <i class="fab fa-facebook-f" style="padding-right: 1rem;"></i>
                        <i class="fab fa-instagram" style="padding-right: 1rem;"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </p>
                        <p class="text-light"></p>
                </div>
                
                
            </div>
        </div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label class="text-light">RECIBI NUESTRAS NOVEDADES</label>
                    <div class="input-group" style="max-width: 400px;">
                        <input class="form-control rounded-lg" type="text" placeholder="E-mail" style="padding-right: 1rem;">
                        <div class="input-group-append">
                            <button type="button" class="btn rounded-sm" style="margin-left: 0.5rem;background-color: #adabac;">Suscribirme</button>
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
        
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col justify-content-end align-self-end">
            <img src="assets/images/logo_gd.png" style="width: 50%;">
            <p class="text-secondary"> <i class="fa fa-copyright" aria-hidden="true"></i> Todos los derechos reservados</p>
        </div>
    </div>
    <footer class="footer" style="background-color: white;">
        <img class="img-fluid" src="assets/images/web_digi.png" style="" width="500px" alt="">
    </footer>
    
</div>
