<div class="d-flex justify-content-center" style="border-top-color: #E63233 !important;">
    <img src="assets/images/ubi-avvz.png" >
</div>

<div class="" style="background-color:#303030;padding-top: 2rem;">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col" style="padding-left: 4rem;">
                    <img src="assets/images/Logo-digi-seco.png" style="width: 50%;">
                    <p class="text-light" style="margin-left: 2%;">
                        
                        <i class="fa fa-envelope" style="color: #989798;"></i> ventas&#64;digimat.com.ar 

                        <br>
                        <i class="fa fa-map-marker" style="color: #989798;"></i> AV LA VOZ DEL INTERIOR 6161 (5008), Córdoba - Argentina
                        <br>
                            <img src="assets/icons/fb-white.svg" height="30px" style="margin-right: 10px;margin-top: 1%;">
                            <img src="assets/icons/ig-white.svg" height="30px" style="margin-right: 10px;margin-left: 1%;margin-top: 1%;">
                            <img src="assets/icons/ln-white.svg" height="30px" style="margin-left: 1%;margin-top: 1%;">
                    </p>
                        <p class="text-light"></p>
                </div>
                
                
            </div>
        </div>
        <div class="col"></div>
        <div class="col d-flex flex-column justify-content-between" style="margin-left: 5%;">
            <form>
                <div class="form-group">
                    <label class="text-light">RECIBÍ NUESTRAS NOVEDADES</label>
                    <div class="input-group" style="max-width: 500px;">
                        <input class="form-control" type="text" placeholder="E-mail" style="padding-right: 1rem;border-radius: 10px;">
                        <div class="input-group-append">
                            <button type="button" class="btn" style="margin-left: 0.5rem;background-color: #adabac;border-radius: 10px;">SUSCRIBIRME</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>  
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col justify-content-end align-self-end">
                <img src="assets/images/logo_gd.png" height="20">
            <p class="text-secondary"> <i class="fa fa-copyright" aria-hidden="true"></i> Todos los derechos reservados</p>
        </div>
    </div>
    <footer class="footer" style="background-color: white;">
        <img class="img-fluid" src="assets/images/web_inferior.png" style="" width="70%" alt="">
    </footer>
    
</div>
