<div class="container cont--principal">
    <div class="cont--secundario">
        <div class="cont--menu"> 
            <div class="image-grid">
                <div class="expanded-container">
                    <img [src]="expandedImageSrc" id="expandedImg" width="350px" height="350px" />
                </div>
                @for (img of images; track img) {
                    <img [src]="img.src" alt=""  width="120px" height="130px" (click)="expandImage(img)">
                }
            </div>
            <div class="cont--producto">
                <h1 style="color: #E63233;">{{producto.Descripcion}}</h1>
                <h2 style="color: #3e3c3d;">${{producto.PrecioVtaSinIva}}</h2>
                <div style="display: flex; gap: 1.3rem;">
                    <img src="assets/images/deliverytruck.png" alt=""> 
                    <div style="display: flex; flex-direction: column;">
                        <h6>Retirá gratis en tienda o acordá el envío</h6> <br>
                        <span>Ver modo de envío</span>    
                    </div>
                </div>
                <div style="display: flex; gap: 1.3rem;">
                    <img src="assets/images/devolver.png" alt="">
                    <div style="display: flex; flex-direction: column;">
                        <h6>Retirá gratis en tienda o acordá el envío</h6> <br>
                        <span>Ver modo de envío</span>    
                    </div>
                </div>
                <div style="display: flex; gap: 1.3rem;">
                    <h6>Cantidad</h6>
                    <input type="number" min="1" width="10px" style="width: 3em;" [(ngModel)]="quantity">
                </div>
                <button type="button" (click)="goToProduct()" style="color: white; background-color: #E63233; width: 225px; border-radius: 40px; height: 50px;">+ COMPRAR AHORA</button>
                <button type="button" style="color: white; background-color: #b4b4b4; width: 225px; border-radius: 40px; height: 50px;" (click)="addToCart(descripcionActiva)">+ AÑADIR AL CARRO</button>
            </div>
        </div>
        <div style="margin-top: 30px; display: flex; flex-direction: column; width: 100%; margin-left: 30px;">
            <h2 style="color: #E63233;">
                Descripción del producto
            </h2>
            <p>
                {{producto.InfoGral}}
            </p>
        </div>
    </div>
</div>
