<div class="container-fluid" *ngIf="description">
    <div class="row justify-content-around">
        <div class="col-0.5"></div>
            <div class="col-3 principal " style="background-color: #f4f3f3;">
                <h1 class="roboto-slab d-flex justify-content-center" style="color: #E63233;margin-top: 3rem;">
                    <strong>PRODUCTOS</strong>
                </h1>
                    
                <div class="row d-flex justify-content-center">
                    <ul class="text-start " style="color: #3f3f3f; display: flex; flex-direction: column; gap: 1rem;margin-top: 3rem;">
                        <li *ngFor="let item of items; let i = index"
                            (click)="selectItem(item[i])"
                            [class.selected]="selectedItem === item[i]">
                        {{item}}
                        </li>
                    </ul>
                </div>
                    
            </div>
         <div class="col-8 aling-self-center justify-content-center" style="margin-top: 25px;">
            <div style="display: flex; gap: 0.5rem;">
                <button 
                  class="btn" 
                  [ngClass]="{'active-filter-button': activeButton === 'high', 'inactive-button': activeButton !== 'high'}"
                  (click)="setActiveButton('high')"
                  style="border-radius: 30px;">
                  Precio más alto
                </button>
                <button 
                  class="btn" 
                  [ngClass]="{'active-filter-button': activeButton === 'low', 'inactive-button': activeButton !== 'low'}"
                  (click)="setActiveButton('low')"
                  style="border-radius: 30px;">
                  Precio más bajo
                </button>
                <button 
                  class="btn" 
                  [ngClass]="{'active-filter-button': activeButton === 'name', 'inactive-button': activeButton !== 'name'}"
                  (click)="setActiveButton('name')"
                  style="border-radius: 30px;">
                  Nombre (a-z)
                </button>
              </div>

            <div class="row" style="display: flex;flex-wrap: wrap;">
                <app-producto class="col" *ngFor="let p of listaProductos" [precio]="p.PrecioVtaSinIva" [descripcion]="p.Descripcion" [producto]="p" (click)="goToDescripcion(p.IdArticulo)"></app-producto>
             </div>
 
         </div>
    </div> 
 </div> 
 

<!--  -->

 