<div class="container-fluid" *ngIf="description">
    <div class="row justify-content-around">
        <div class="col-0.5"></div>
         <div class="col-3 principal" style="background-color: #f4f3f3;">
             <h1 class="titulo" style="color: #de3333;">
             PRODUCTOS
             </h1>
             <ul class="text-start" style="color: #3f3f3f; display: flex; flex-direction: column; gap: 1rem;">
                <li *ngFor="let item of items; let i = index"
                    (click)="selectItem(item[i])"
                    [class.selected]="selectedItem === item[i]">
                  {{item}}
                </li>
              </ul>
         </div>
         <div class="col-8 aling-self-center" style="margin-top: 25px;">
            <div style="display: flex; gap: 0.5rem;">
                <button class="btn btn-danger">Precio más alto</button>
                <button class="btn btn-danger">Precio más bajo</button>
                <button class="btn btn-danger">Nombre(a-z)</button>
            </div>
             <div class="flex-wrap justify-content-around" style="display: flex; gap:0.4rem; margin-top: 10px;">
                 <app-producto (click)="goToDescripcion()"></app-producto>
                 <app-producto (click)="goToDescripcion()"></app-producto>
                 <app-producto (click)="goToDescripcion()"></app-producto>
                 <app-producto (click)="goToDescripcion()"></app-producto>
                 <app-producto (click)="goToDescripcion()"></app-producto>
                 <app-producto (click)="goToDescripcion()"></app-producto>

             </div>
 
         </div>
    </div> 
 </div> 
 <div class="container" *ngIf="!description" style="display: flex; justify-content: space-between; gap: 1rem; margin-left: 0; padding: 0;">
    <div style="background-color: #d7d7d7; position: relative;">
        <img class="img--arrow" (click)="goToTienda()" src="assets/icons/redarrow.svg" alt="" width="70px">
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">
        <div style="display: flex; gap: 0.5rem"> 
            <div class="image-grid">
                <div class="expanded-container" *ngIf="expandedImageSrc" style="border-bottom: 2px solid #d7d7d7; display: flex; align-items: center; justify-content: center;">
                    <img [src]="expandedImageSrc" id="expandedImg" width="350px" height="350px" />
                </div>
                @for (img of images; track img) {
                    <img [src]="img.src" alt=""  width="130px" height="130px" (click)="expandImage(img)">
                }
            </div>
            <div style="display: flex; flex-direction: column; gap:1rem;">
                <h1 style="color: #de3333;">Nombre del producto</h1>
                <h2 style="color: #3e3c3d;">$XXX.xx</h2>
                <div style="display: flex; gap: 1.3rem;">
                    <img src="assets/images/deliverytruck.png" alt="">
                    <div style="display: flex; flex-direction: column;">
                        <h6>Retirá gratis en tienda o acordá el envío</h6> <br>
                        <span>Ver modo de envío</span>    
                    </div>
                </div>
                <div style="display: flex; gap: 1.3rem;">
                    <img src="assets/images/devolver.png" alt="">
                    <div style="display: flex; flex-direction: column;">
                        <h6>Retirá gratis en tienda o acordá el envío</h6> <br>
                        <span>Ver modo de envío</span>    
                    </div>
                </div>
                <div style="display: flex; gap: 1.3rem;">
                    <h6>Cantidad</h6>
                    <input type="number" min="1" width="10px" style="width: 3em;" name="" id="">
                </div>
                <button type="button" style="color: white; background-color: #de3333; width: 225px; border-radius: 40px; height: 50px;">+ COMPRAR AHORA</button>
                <button type="button" style="color: white; background-color: #b4b4b4; width: 225px; border-radius: 40px; height: 50px;">+ AÑADIR AL CARRO</button>
            </div>
        </div>
        <div style="margin-top: 30px;">
            <h2 style="color: #de3333;">
                Descripción del producto
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni reprehenderit blanditiis nesciunt dolorum est repellat necessitatibus iste soluta dolore molestiae inventore aspernatur in, modi voluptate unde delectus. Earum, beatae quod?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis tenetur quasi nesciunt ad consectetur iure, ipsam neque veritatis odit asperiores optio aspernatur? Doloribus minus optio inventore deserunt libero, harum beatae.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur eius nobis nemo illo provident debitis doloribus! Error, facere dolorum fuga autem, earum provident fugiat architecto doloremque asperiores, commodi ad est.
            </p>
        </div>
    </div>
</div>
 