.producto{
    width: 320px;
    height: 380px !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f4f3f3;;
    border: solid 2px #c3c3c3;
    border-radius: 5%;
    padding: 2% 3%;
    width: 18rem;
    margin-top: 2rem;
    
}

.roboto-slab{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.contedor--card--titlte{
    height: 50px; 
    width: 228px;
}

h5{
    color: #E63233; 
    font-size: large;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
