.small-image {
    height: 40px;
    margin-right: 10px;
    position: absolute;
    left: -60px; /* Adjust this value as necessary */
    top: 50%;
    transform: translateY(-50%);
}

.half-gray-white {
    position: relative;
    height: 100vh;
    background-color: white; /* White background for the top */
}

.half-gray-white::before {
    content: '';
    position: absolute;
    top: 20%; /* 20% white at the top */
    left: 0;
    width: 100%;
    height: 80%; /* 80% gray at the bottom */
    background-color: #e6e6e6;
    z-index: -1; /* Ensure it is behind the content */
}

.overflow-element {
    position: relative;
    background-color: transparent;
    margin-bottom: 2rem; /* Adjust as needed */
}

.gradient{
    width: 100%;
    height: auto;
    background: rgb(248,244,244);
    background: linear-gradient(0deg, rgba(243,243,243,255) 52%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 100%);
    padding-bottom: 20px;
}

@media screen and (min-width: 800px) {
    .gradient-cotizador{
        width: 100%;
        height: auto;
        background: rgb(206,206,206);
        background: linear-gradient(0deg, rgba(206,206,206,1) 54%, rgba(248,244,244,1) 54%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%);
        padding-bottom: 70px;
    }
  }


.card-body .no-border{
    border: none;
    box-shadow: none;
    padding: 0;
}

.source-code-pro-unique-text {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400; /* Puedes cambiar el valor del peso según lo necesites */
    font-style: normal;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 30vw; /* Cambiamos a vw para mantener la relación de aspecto */
    max-height: 682px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #89FF95;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
    
    .prev-button,
    .next-button {
      padding: 8px 12px;
      font-size: 16px;
    }
  
    
    .prev-button,
    .next-button {
      padding: 6px 10px;
      font-size: 14px;
    }
  