<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="padding-top: 2rem;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/Slide_1_digi_seco.png" class="d-block w-100 h-80" alt="..." style="min-height: 80vh;">
    </div>
</div>

<div class="container-sm" style="padding-top: 2;">

    <div class="container text-center" style="padding-top: 2rem;padding-bottom: 2rem;">
        <h3 class="align-items-center text-danger">COTIZADOR</h3>
        <p>CALCULA Y CONOCE LO QUE VAS A NECESITAR PARA TU PROYECTO</p>
    </div>
    

    <div class="row no-gutters" style="padding-top: 3rem;">
        <div class="col">
            <img src="assets/images/PAREDES_INTERIOR.png" class="w-100">
        </div>

        <div class="col">
            <img src="assets/images/REVESTIMIENTOS.png" class="w-100">
        </div>

        <div class="col">
            <img src="assets/images/CIELORRASO.png" class="w-100">
        </div>
    </div>
    <div  style="background-color: lightgrey;"></div>
</div>

<div class="container align-items-center" style="padding-top: 2rem;">
    <div class="card bg-light border-0" style="max-width: 850px;border-radius: 20px 20px 0px 20px;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
                <div class="d-flex align-items-center position-relative">
                    <img src="assets/images/icono_q_somos.png" alt="Small Image" class="small-image">
                    <h5 class="card-title mb-0">QUIÉNES SOMOS</h5>
                </div>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="assets/images/foto_quienes_somos.png" class="img-fluid rounded-start" alt="..." style="padding: 1rem;">
          </div>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 2rem;">
    <div class="row">
        <div class="col">
            <h3>¿POR QUE</h3>
            <h1 class="text-danger">ELEGIRNOS?</h1>
        </div>  
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col">
            <div class="text-center">
                <img src="assets/images/espec_cal.png" style="width: 80px;">
            </div>
            
            <h3 class="text-danger">Especializacion y calidad</h3>
            <p>Productos de alta calidad en construcción en seco</p>
        </div>
        <div class="col">
            <div class="text-center">
                <img src="assets/images/gama_productos.png" style="width: 80px;">
            </div>
            
            <h3 class="text-danger text-center">Amplia gama de productos</h3>
            <p>Productos de alta calidad en construcción en seco</p>
        </div>
        <div class="col">
            <div class="text-center">
                <img src="assets/images/as_tecnico.png" style="width: 80px;">
            </div>
            
            <h3 class="text-danger text-center">Asesoramiento tecnico</h3>
            <p>Productos de alta calidad en construcción en seco</p>
        </div>
    </div>
    <div style="padding-top: 1rem;"></div>
    <div class="row">
        <div class="" ></div>
        <div class="col" style="padding-left: 8rem;">
            <div class="text-center">
                <img src="assets/images/logistica.png" style="width: 80px;">
            </div>
            
            <h3 class="text-danger text-center">Logistica y disponibilidad</h3>
            <p>Productos de alta calidad en construcción en seco</p>
        </div>
        <div class="col">
            <div class="text-center">
                <img src="assets/images/precios_compe.png" style="width: 80px;">
            </div>
            
            <h3 class="text-danger text-center">Precios competitivos</h3>
            <p>Productos de alta calidad en construcción en seco</p>
        </div>
    </div>
    
</div>

<div class="container  half-gray-white" style="padding-top: 3rem;">
    <h2 class="text-center text-danger">TIENDA</h2>

    <div class="row text-center">
        <div class="col">

            <div class="card overflow-element">
                <div style="background-color: gray;">
                    <img src="assets/images/producto.png" style="padding-top: 0.5rem; padding-bottom: 0.5rem;padding-left: -1rem;">
                </div>
                <div class="card-body">
                    <div class="bg-danger text-center text-white">
                        PERFIL PGO GALVANIZADO
                    </div>
                    <h3 class="text-center">$8.820,22</h3>
                </div>
            </div>
            
        </div>
        <div class="col">

            <div class="card">
                <div style="background-color: gray;">
                    <img src="assets/images/producto.png" style="padding-top: 0.5rem; padding-bottom: 0.5rem;padding-left: -1rem;">
                </div>
                <div class="card-body">
                    <div class="bg-danger text-center text-white">
                        PERFIL PGO GALVANIZADO
                    </div>
                    <h3 class="text-center">$8.820,22</h3>
                </div>
            </div>
            
        </div>
        <div class="col">

            <div class="card">
                <div style="background-color: gray;">
                    <img src="assets/images/producto.png" style="padding-top: 0.5rem; padding-bottom: 0.5rem;padding-left: -1rem;">
                </div>
                <div class="card-body">
                    <div class="bg-danger text-center text-white">
                        PERFIL PGO GALVANIZADO
                    </div>
                    <h3 class="text-center">$8.820,22</h3>
                </div>
            </div>
            
        </div>
    </div>

</div>