<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="padding-top: 2rem;padding-bottom: 1rem;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/Slide_1_digi_seco.png" class="d-block w-100 h-80" alt="..." style="min-height: 80vh;">
    </div>
</div>

<div class="container-sm" style="background-color:#d8d6d7;padding-top: 3;padding-bottom: 2rem;">

    <div class="container text-center justify-content-center" style="background-color: #DC3545; max-width: 600px; padding: 1rem; margin: 0 auto;margin-top: 1%;">
        <h2 class="align-items-center text-white">COTIZADOR</h2>
        <p class="text-white">CALCULA Y CONOCE LO QUE VAS A NECESITAR PARA TU PROYECTO</p>
    </div>
    

    <div class="row no-gutters text-center justify-content-center" style="padding-top: 3rem;">
        <div class="col-lg-3 col-sm-3">
            <img src="assets/images/PAREDES_INTERIOR.png" class="w-100">
        </div>

        <div class="col-lg-3 col-sm-3">
            <img src="assets/images/REVESTIMIENTOS.png" class="w-100">
        </div>

        <div class="col-lg-3 col-sm-3">
            <img src="assets/images/CIELORRASO.png" class="w-100">
        </div>
    </div>
    <div  style="background-color: lightgrey;"></div>
</div>

<div class="container d-flex justify-content-center" style="padding-top: 2rem;">
    <div class="card border-0" style="max-width: 850px; border-radius: 20px 20px 0px 20px; background-color: #dedcdd; padding-bottom: 1rem;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <div class="d-flex align-items-center position-relative">
                        <img src="assets/images/icono_q_somos.png" alt="Small Image" class="small-image">
                        <h2 class="card-title text-danger mb-0">QUIÉNES SOMOS</h2>
                    </div>
                    <div style="padding-top: 1rem;">
                        <p class="card-text">En Digi Seco, nos especializamos en la venta de materiales para la construcción en seco, proporcionando soluciones integrales y asesoramiento experto a nuestros clientes.</p>
                        <br>
                        <p class="card-text">Nos enorgullecemos de nuestro equipo de trabajo y de nuestra capacidad para adaptarnos a las características específicas de cada proyecto, garantizando la satisfacción de nuestros clientes.</p>      
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <img src="assets/images/foto_quienes_somos.png" class="img-fluid rounded-start" alt="..." style="padding: 0.5rem; max-height: 100%; width: 100%;">
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-top: 2rem;">
    <div class="row">
        <div class="col">
            <h3>¿POR QUE</h3>
            <h1 style="color: #E63233 !important;">ELEGIRNOS?</h1>
        </div>  
        <div class="col"></div>
    </div>

    <div class="row text-center">
    <!-- Primera Fila -->
    <div class="col">
        <img src="assets/images/espec_cal.png" style="width: 80px;">
        <h3 class="text-danger">Especialización y Calidad</h3>
        <p>Productos de alta calidad en <br> construcción en seco</p>
    </div>
    <div class="col">
        <img src="assets/images/gama_productos.png" style="width: 80px;">
        <h3 class="text-danger">Amplia Gama de Productos</h3>
        <p>Todo lo necesario para<br>construcción en seco.</p>
    </div>
    <div class="col">
        <img src="assets/images/as_tecnico.png" style="width: 80px;">
        <h3 class="text-danger">Asesoramiento Técnico</h3>
        <p>Expertos disponibles para<br>asesoramiento especializado.</p>
    </div>
</div>

<div class="row justify-content-center mt-4">
    <!-- Segunda Fila -->
    <div class="col-md-4">
        <div class="d-flex justify-content-center">
            <img src="assets/images/logistica.png" style="width: 80px;">
        </div>
        
        <h3 class="text-danger text-center">Logística y Disponibilidad</h3>
        <p class="text-center">Entrega rápida y stock<br>siempre disponible</p>
    </div>
    <div class="col-md-4">
        <div class="d-flex justify-content-center">
            <img src="assets/images/precios_compe.png" style="width: 60px;">
        </div>
        
        <h3 class="text-danger text-center">Precios Competitivos</h3>
        <p class="text-center">Excelente relación <br> calidad-precio.</p>
    </div>
</div>

    
</div>

<div class="container-sm gradient" style="padding-top: 3rem;">
    <h2 class="text-center text-danger">TIENDA</h2>
    <div class="row justify-content-center">
        <div class="col col-lg-3">
            <div class="card border-0">
                <div class="d-flex justify-content-center" style="background-color: #d7d6d4; padding-inline: 1rem;">
                    <img src="assets/images/producto.png" style="padding-top: 0.5rem; padding-bottom: 0.5rem; max-width: 100%;">
                </div>
                <div class="card-body" style="background-color: #f3f3f3 !important;">
                    <div class="bg-danger text-white text-center" style="background-color: #E63233 !important;">
                        PERFIL PGO GALVANIZADO
                    </div>
                    <h3 class="text-center">$8.820,22</h3>
                </div>
            </div>
            
        </div>
        <div class="col col-lg-3">
            <div class="card border-0">
                <div class="d-flex justify-content-center" style="background-color: #d7d6d4;">
                    <img src="assets/images/producto.png" class="" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
                </div>
                <div class="card-body" style="background-color: #f3f3f3 !important;">
                    <div class="bg-danger text-white text-center" style="background-color: #E63233 !important;">
                        PERFIL PGO GALVANIZADO
                    </div>
                    <h3 class="text-center">$8.820,22</h3>
                </div>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="card border-0">
                <div  class="d-flex justify-content-center" style="background-color: #d7d6d4;">
                    <img src="assets/images/producto.png" class="" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
                </div>
                <div class="card-body border-0" style="background-color: #f3f3f3 !important;">
                    <div class="bg-danger text-white text-center" style="background-color: #E63233 !important;">
                        PERFIL PGO GALVANIZADO
                    </div>
                    <h3 class="text-center">$8.820,22</h3>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h5 class="text-center ">Ver mas<img src="assets/images/plus.png" style="padding-left: 0.5rem;"></h5>
    </div>
</div>


<div class="container" style="padding-bottom: 2rem;padding-top: 2rem;">
    <h1 class="text-danger text-center">CONTACTO</h1>

    <form class="border-0">
        <div class="form-row">
          <div class="col">
            <label>Nombre y apellido</label>
            <input type="text" class="form-control" style="background-color:#e6e6e6;">
          </div>
          <div class="col">
            <label>Correo electronico</label>
            <input type="text" class="form-control" style="background-color: #e6e6e6;">
          </div>
          
        </div>
        <div class="form-row">
            <div class="col">
              <label>Empresa</label>
              <input type="text" class="form-control" style="background-color:#e6e6e6;">
            </div>
            <div class="col">
              <label>Telefono</label>
              <input type="text" class="form-control" style="background-color:#e6e6e6;">
            </div>
            
        </div>
        <div class="form-row">
          <label>Mensaje</label>
          <textarea class="form-control" aria-label="With textarea" style="background-color:#e6e6e6;"></textarea>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Quiero recibir novedades y promociones por mail
            </label>
        </div>

        <div class="text-right">
            <button type="submit" class="btn text-light rounded-pill" style="background-color: #4c4c4c !important;vertical-align: -100%;">Enviar</button>
        </div>

    </form>

</div>
